/*Estilos Globales*/
/*Parametros por Defecto*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Cabecera*/
header{
    background-color: orange;
	display: block;
	text-align: center
}

img#logo{
	width: 10rem;
	text-align: center;
}
h1{
    font-size: 2rem;
	text-align: center;
}

/*Navegador Responsive*/
.nav {
    background-color: #333;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 17px;
	font-family: 'Bitter', serif;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.nav .icon {
    display: none;
}

/*Body*/
body{
    background-image: url("../img/Mancha.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
}

p{
	font-family: 'Playball', cursive;
	font-size: 1.2rem;
}

a{
	text-decoration: none;
}

/*Inicio*/
/*Quitar scroll en "Inicio"*/
.inicio {
    overflow: hidden
}
/*Imágen Responsive*/
img#principal{
    width: 100%;
	height: 41rem;
	background: linear-gradient(to bottom,rgba(0,0,0,.1) 33%,rgba(0,0,0,.8) 100%);
	position: relative;
}

/*Texto de la Imágen Responsive*/
div#coletilla{
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	bottom: 5rem;
	top: 60%;
    left: 15%;
    transform: translate(-10%, -0%);
}

h1#frase{
	font-family: 'Pinyon Script', cursive;
	font-size: 3rem;
	border: 4px solid orangered;
	border-style: solid none;
}

/*Botón de la Imágen Responsive*/
button#teletransporte{
	font-style: bold;
	font-size: 2rem;
	background-color: rosybrown;
	border-color: rosybrown;
}

/*Comic*/
section#ordenador{
	display: none;
}

img.vinyeta{
	width: 100%;
	height: 27rem;
}

p.descripcion{
	background-color: brown;
	font-size: 1rem;
}

button.historia{
	font-size: 1.5rem;
	height: 4rem;
	width: 20rem;
	margin-left: 1.5rem;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

img#flecha{
	width: 20rem;
}
/*Nuestros Cafes*/
/*Tamaño de las imágenes*/
img.cafes{
	width: 10rem;
}

/*Centrar imágenes*/
div#arabica{
	text-align: center
}

div#otros{
	text-align: center;
}

/*Ocultar Libro (se muestra en "responsive.css"*/
div.libroMagico{
	display: none;
}

/*Ocultar Texto (utilizado en modo Móvil)*/
div#lavado{
	display: none;
}

div#nLavado{
	display: none;
}

div#rob{
	display: none;
}

div#caracol{
	display: none;
}

/*Borde al poner el cursor sobre las imágenes*/
img#arabicaL:hover{
	border: indigo solid 2px;
}

img#arabicaN:hover{
	border: indigo solid 2px;
}

img#robusta:hover{
	border: indigo solid 2px;
}

img#caracolillo:hover{
	border: indigo solid 2px;
}


/*Ideas para Regalar*/
/*Estantes*/
.estante {
	position: relative;
	width: 412px;
	border-bottom: 13px solid #24252a;
	text-align: center;
	padding: 0 27px;
    margin: 20px auto;
    background: transparent;
}

.estante:after {
	position: absolute;
	bottom: -13px;
	left: 34px;
	height: 10px;
	background: transparent;
	content: "";
	-webkit-transform: perspective( 150 ) rotateX( -25deg );
	   -moz-transform: perspective( 150 ) rotateX( -25deg );
	    -ms-transform: perspective( 150 ) rotateX( -25deg );
	        transform: perspective( 150 ) rotateX( -25deg );
	right: 34px;
	box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.estante > div {
	border-bottom: 23px solid #303138;
	position: relative;
	z-index: 1;
}
	
.estante > div:before {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 23px 27px;
	border-color: transparent transparent #303138 transparent;
	position: absolute;
	bottom: -23px;
	left: -27px;
	z-index: 2;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
}
	
.estante > div:after {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 23px 0 0 27px;
	border-color: transparent transparent transparent #303138;
	position: absolute;
	bottom: -23px;
	right: -27px;
	z-index: 2;
}
	
.estante > div > * {
	position: relative;
	z-index: 2;
	top: 23px;
}


/*Estilos para la primera tanda de cafeteras (versión móvil)*/
.productoc {
	display: inline-block;
	width: 100px;
	position: relative;
	z-index: 1;
}

/*Estilos para la segunda tanda de cafeteras (versión móvil)*/
.producto2c {
	display: none;
	width: 100px;
	position: relative;
	z-index: 1;
}

/*Estilos para la primera tanda de vasos (versión móvil)*/
.productov {
	display: inline-block;
	width: 100px;
	position: relative;
	z-index: 1;
}

/*Estilos para la segunda tanda de vasos (versión móvil)*/
.producto2v {
	display: none;
	width: 100px;
	position: relative;
	z-index: 1;
}

/*Tamaño de productos*/
img.productos{
	width: 8rem;
}

/*Estilos para las flechas*/
div#flechas{
	text-align: center;
}
img.flecha{
	width: 4rem;
}

/*Carrusel*/
div#carrusel{
	display: none;
}

img#imagen{
	width: 10rem;
}

/*Estilos Modal*/
.modal-header{
	background-color: orangered;
}

.modal-body{
	background-color: yellow;
}

.modal-footer{
	background-color: orangered;
}

/*Contacto*/
/*Formulario*/
form{
	width: 80%;
	margin: 0 auto;
	margin-top: 1rem;
}

textarea{
	height: 10rem;
}

label{
	text-align: center;
}

h1#contacto{
	font-size: 1rem;
	font-weight: bold;
}

/*Partners*/
/*Organizar por columnas*/
main#partners{
	margin: 8px -16px;
	margin: auto;
	padding: 20px;
}
div.columna{
	float: left;
	width: 50%;
}

img.partners{
	width: 8rem;
}

div.fila{
	margin: 8px -16px;
}

.contenido{
    padding: 10px;
}

.fila:after{
	content: "";
	display: table;
	clear: both;
}
.fila,
.fila > .columna{
	padding: 8px;
}