/*Navegador Responsive (modo Móvil)*/
@media screen and (max-width: 767px){
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
}

@media (min-width: 768px){
    
    /*Inicio*/
    div#coletilla{
        top: 77%;
        left: 27%;
    }

    /*Comic*/

    section#movil{
        display: none;
    }

    section#ordenador{
        display: block;
        text-align: center;
    }

    img.pergamino{
        width: 58rem;
        text-align: center;
        padding-top: 4rem;
    }

    /*Formulario de Subscripción*/

    div#titulo-form2{
        background-color: orangered;
    }
    div#formulario2{
        background-color: yellow;
        padding-bottom: 2rem;
        margin-left: 20rem;
        margin-right: 20rem;
    }

    div#cuerpo2{
        text-align: center;
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    input{
        margin-top: 20px;
        width: 20rem;
    }
    
    /*Nuestros Cafés*/
    div.libroMagico{
        display: block;
    }

    /*Ideas para Regalar*/
    .estante{
        width: 824px;
    }

    .producto2c{
        display: inline-block;
    }
    
    .producto2v{
        display: inline-block;
    }

    img.flecha{
        display: none;
    }

    div#carrusel{
        display: inline-block;
        width: 50rem;
        margin-left: 20rem;
    }

    div.carousel-inner{
        background-color: #4CAF50;
    }

    img.d-block{
        width: 20rem !important;
        margin-left: 15rem;
    }

    img.productos{
        opacity: 0.6;
    }

    img.productos:hover{
        opacity: 10;
        transform: scale(1.7,1.7);
        transition: .3s transform;
    }
    
    /*Partners*/
    img.partners{
        width: 10rem;
    }
}